In [3]:
import numpy as np

In [4]:
arr = np.arange(0,10)

In [6]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
arr + 5

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [7]:
arr + arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [8]:
arr / arr # nan = not a number

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [9]:
arr.sum()

45

In [10]:
arr.mean()

4.5

In [11]:
arr.var()

8.25

In [12]:
arr.std()

2.8722813232690143

In [15]:
arr2d = np.arange(0,25).reshape(5,5)
arr2d

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [16]:
arr2d.sum()

300

In [17]:
arr2d.sum(axis=0) # Across the row. Kebawah

array([50, 55, 60, 65, 70])

In [18]:
arr2d.sum(axis=1) # Across the column. Ketepi

array([ 10,  35,  60,  85, 110])