In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('exercise.csv')

In [12]:
# Display all data in the dataframe
df.head() # df[:5] will return the same thing

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

In [46]:
# Count number of country in the datasets
df['country'].nunique()

13

In [29]:
# How many country represented in the datasets
df['country'].unique()

array(['Algeria', 'Angola', 'Central African Republic', 'Ivory Coast',
       'Egypt', 'Kenya', 'Mauritius', 'Morocco', 'Nigeria',
       'South Africa', 'Tunisia', 'Zambia', 'Zimbabwe'], dtype=object)

In [38]:
# Country with highest CPI inflation rate
df.sort_values('inflation_annual_cpi', ascending=False).head(1)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
1053,70,ZWE,Zimbabwe,2008,1,0.002,1,1,0.0,21989695.22,1,1,1,crisis

In [44]:
df[(df['country']=='Kenya') & (df['systemic_crisis']==1)].sort_values('year').head(1)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
475,35,KEN,Kenya,1985,1,16.2843,0,0,0.0,11.398,1,0,0,crisis

In [45]:
crisis = df[df['systemic_crisis']==1]
crisis.groupby('country').count()

,case,cc3,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
country,,,,,,,,,,,,,
Algeria,4,4,4,4,4,4,4,4,4,4,4,4,4
Central African Republic,19,19,19,19,19,19,19,19,19,19,19,19,19
Egypt,6,6,6,6,6,6,6,6,6,6,6,6,6
Ivory Coast,4,4,4,4,4,4,4,4,4,4,4,4,4
Kenya,13,13,13,13,13,13,13,13,13,13,13,13,13
Morocco,2,2,2,2,2,2,2,2,2,2,2,2,2
Nigeria,10,10,10,10,10,10,10,10,10,10,10,10,10
Tunisia,5,5,5,5,5,5,5,5,5,5,5,5,5
Zambia,4,4,4,4,4,4,4,4,4,4,4,4,4
Zimbabwe,15,15,15,15,15,15,15,15,15,15,15,15,15

In [50]:
len(df[(df['country'] == 'Zimbabwe') & (df['sovereign_external_debt_default']==1)])

30