In [1]:
import numpy as np
import pandas as pd

In [2]:
columns = ['W', 'X', 'Y', 'Z']

In [3]:
index = ['A', 'B', 'C', 'D', 'E']

In [4]:
from numpy.random import randint

In [7]:
np.random.seed(42)
data = randint(-100, 100, (5,4))
data

array([[  2,  79,  -8, -86],
       [  6, -29,  88, -80],
       [  2,  21, -26, -13],
       [ 16,  -1,   3,  51],
       [ 30,  49, -48, -99]])

In [9]:
# create pandas dataframe
df = pd.DataFrame(data, index, columns)
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [10]:
df['W']

A     2
B     6
C     2
D    16
E    30
Name: W, dtype: int64

In [11]:
type(df['W'])

pandas.core.series.Series

In [15]:
# list of columns use []
df[['W','Z']]

    W   Z
A   2 -86
B   6 -80
C   2 -13
D  16  51
E  30 -99

In [18]:
# create new column
df['new'] = df['W'] + df['Y']
df

    W   X   Y   Z  new
A   2  79  -8 -86   -6
B   6 -29  88 -80   94
C   2  21 -26 -13  -24
D  16  -1   3  51   19
E  30  49 -48 -99  -18

In [22]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [24]:
# calling column panda series
df.loc['A']

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int64

In [25]:
df.loc[['A', 'E']]

    W   X   Y   Z
A   2  79  -8 -86
E  30  49 -48 -99

In [26]:
# using index based
df.iloc[0]

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int64

In [27]:
df.iloc[0:3]

   W   X   Y   Z
A  2  79  -8 -86
B  6 -29  88 -80
C  2  21 -26 -13

In [29]:
df.drop('C')

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
D  16  -1   3  51
E  30  49 -48 -99

In [31]:
# get subset of the dataframe
df.loc[['A', 'C'], ['W', 'Y']]

   W   Y
A  2  -8
C  2 -26

In [33]:
np.random.seed(42)
data = randint(-100, 100, (5,4))
data

array([[  2,  79,  -8, -86],
       [  6, -29,  88, -80],
       [  2,  21, -26, -13],
       [ 16,  -1,   3,  51],
       [ 30,  49, -48, -99]])

In [34]:
df = pd.DataFrame(data, index, columns)
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [35]:
df > 0

      W      X      Y      Z
A  True   True  False  False
B  True  False   True  False
C  True   True  False  False
D  True  False   True   True
E  True   True  False  False

In [37]:
# remove false number (negative number)
# passing into function 
df[df > 0]

    W     X     Y     Z
A   2  79.0   NaN   NaN
B   6   NaN  88.0   NaN
C   2  21.0   NaN   NaN
D  16   NaN   3.0  51.0
E  30  49.0   NaN   NaN

In [38]:
# condition selection
# get column where value is > 0
df['X']>0

A     True
B    False
C     True
D    False
E     True
Name: X, dtype: bool

In [39]:
# dataframe where X is > 0
df[df['X']>0]

    W   X   Y   Z
A   2  79  -8 -86
C   2  21 -26 -13
E  30  49 -48 -99

In [45]:
# multiple condition
df[(df['W']>0) & (df['Y']>1)]

    W   X   Y   Z
B   6 -29  88 -80
D  16  -1   3  51

In [46]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [47]:
df.reset_index()

  index   W   X   Y   Z
0     A   2  79  -8 -86
1     B   6 -29  88 -80
2     C   2  21 -26 -13
3     D  16  -1   3  51
4     E  30  49 -48 -99

In [48]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [49]:
new_ind = ['CA', 'NY', 'WY', 'OR', 'CO']

In [50]:
df['States'] = new_ind

In [51]:
df

    W   X   Y   Z States
A   2  79  -8 -86     CA
B   6 -29  88 -80     NY
C   2  21 -26 -13     WY
D  16  -1   3  51     OR
E  30  49 -48 -99     CO

In [53]:
# set new index for new dataframe
df = df.set_index('States')

In [54]:
df

         W   X   Y   Z
States
CA       2  79  -8 -86
NY       6 -29  88 -80
WY       2  21 -26 -13
OR      16  -1   3  51
CO      30  49 -48 -99

In [55]:
df.describe()

              W          X          Y          Z
count   5.00000   5.000000   5.000000   5.000000
mean   11.20000  23.800000   1.800000 -45.400000
std    11.96662  42.109381  51.915316  63.366395
min     2.00000 -29.000000 -48.000000 -99.000000
25%     2.00000  -1.000000 -26.000000 -86.000000
50%     6.00000  21.000000  -8.000000 -80.000000
75%    16.00000  49.000000   3.000000 -13.000000
max    30.00000  79.000000  88.000000  51.000000

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, CA to CO
Data columns (total 4 columns):
W    5 non-null int64
X    5 non-null int64
Y    5 non-null int64
Z    5 non-null int64
dtypes: int64(4)
memory usage: 360.0+ bytes